.indexed-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #059669;
}

.indexed-badge--default {
  width: 18px;
  height: 18px;
}

.indexed-badge--small {
  width: 14px;
  height: 14px;
}

.indexed-badge-icon {
  width: 100%;
  height: 100%;
}
